
.bookmark-item {
    width: 44vw;
    height: 20vh;
    margin-top: 3vh;
    margin-left: 10vw;
    overflow:auto;
    -ms-overflow-style: none;
    /* background-color: green; */
    cursor: pointer;
    margin-bottom: 3vh;

    transition: 0.06s linear;
}

.bookmark-item:hover {
    background-color: rgb(225, 225, 225);
    /* scale: 102%; */
    transform: scale(101%);

}

.bookmark-item::-webkit-scrollbar{
    display:none;
  } 
 
.real-bookmark {
    width: 3vw;
    height: 4vh;
    background-color: #93AAAC;
    margin-left: 53.5vw;
    position: absolute;
}

.bookmark-item-header {
    display: flex;
    /* margin-top: -3vh; */
}

.bookmark .bookmark-title {
    margin-left: 1vw;
    margin-top: 1vh;
    /* width: 200px;
    background-color: red;
    height: 40px; */
}

.bookmark .bookmark-emotion {
    /* width: 3%; */
    height: 8vh;
    /* background-color: green; */
    margin-left: 17vw
}

.bookmark .bookmark-date {
    /* margin-left: 35vw;
    margin-top: -8.5vh; */
    margin-left: 33vw;
    color: grey;
    /* width: 100px;
    height: 30px;
    background-color: green; */
}

/* 사진이 없는 경우 일기 내용만 보이면 된다 */
.bookmark .bookmark-content {
    width: 35vw;
    /* background-color: green; */
    text-align:left;
    padding-left: 1vw;
    margin-top:-8vh;
}

/* 사진이 있는 경우 사진이랑 나란히 보여야한다*/
.bookmark .bookmark-img-content {
    margin-left: 5vw;
    width: 35vw;
    position: absolute;
}

.bookmark .bookmark-img {
    width: 15vw;
    position: absolute;
    right: 1vw;
}