.detail-diary {
    position: relative;
}

.detail-diary .detail-diary-item {
  /* 이건 모든 페이지들이 공용으로 설정할 값 */
  width: 77vw;
  height: 90vh;
  margin-top: 6vh;
  margin-left: 18vw;

  position: absolute;
  z-index: 1;
  color: black;
}

.detail-diary .main-note {
    position: absolute;
}

.detail-diary .bookmark {
  width: 3vw;
  height: 10vh;
  background-color: white;
  margin-left: 50vw;
  border: 1px solid black;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
  margin-top: 800px;
  background-color: grey;
}