
@font-face {
  font-family:"playlist-font";
  src: url("../../../public/assets/fonts/SCDream4.otf")
}

.detail-diary {
  position: relative;
}

.detail-diary .detail-diary-item {
/* 이건 모든 페이지들이 공용으로 설정할 값 */
width: 64vw;
height: 93.5vh;
margin-top: 6vh;
margin-left: 27vw;

position: absolute;
z-index: 1;
color: black;

overflow:scroll;
-ms-overflow-style: none;
/* background-color: green; */
white-space : nowrap
}

.detail-diary .detail-diary-item .fix-top {
  position: absolute;

  width: 36.5vw;
  display: flex;
  z-index: 2000;
  color: rgba(2, 2, 18, 0.977);

  height: 11vh;

  margin-left: 1vw;
  border-bottom: 1px solid rgb(194, 189, 189);

}

.detail-diary .detail-diary-item::-webkit-scrollbar{
display:none;
}

.detail-diary .detail-diary-item {
  width: 39vw;
  height: 68vh;
  /* background-color: aqua; */
  margin-top: 15vh;
  margin-bottom: 10vh;
  /* border: 1px solid grey; */

  background-color: rgb(244, 240, 240);
  border-radius: 3%;

  overflow: auto;

}

.detail-diary .detail-diary-item .content {
  width: 94%;
  margin-left:3%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 1vw;
  padding-right: 1vw;

  white-space: normal; /* 자동 줄바꿈*/
  text-align: left;
  
  -ms-overflow-style: none;
}

.detail-diary .detail-diary-item .content::-webkit-scrollbar{
  display:none;
}

.detail-diary .main-note {
  position: absolute;
}

/* 버튼들 */
.detail-diary .goback-button {
margin-top: 8vh;
margin-left: -24vw;
position: absolute;
}

.detail-diary .edit-button {
margin-top: 88vh;
margin-left: 76vw;
position: absolute;
cursor: pointer;
z-index: 100;

width: 5vw;
border-radius: 10%;
color:black;
background-color: rgb(213, 232, 222);;

}

.detail-diary .edit-button:hover {
  background-color: #e3ded3;
}

.detail-diary .delete-button {
margin-top: 88vh;
margin-left: 82vw;
position: absolute;
z-index: 100;
cursor: pointer;
width: 5vw;
color: #ececec;;
border-radius: 10%;
background-color: #AC5050;
}

.detail-diary .delete-button:hover {
  background-color: #692b2b;
}

.detail-diary .bookmark {
position: absolute;
width: 2vw;
height: 10vh;

/* background-color: white; */

margin-left: 28vw;
margin-top: 8vh;

/* border: 1px solid black; */

/* transform: rotate(20deg); */
border-radius: 9%;

cursor: pointer;
z-index: 100;
}

.detail-diary .bookmark:hover {
  /* transform: scale(1.1); */
}


/* .detail-diary .date {
display: flex;
justify-content: end;
margin-right: 5vw;
} */

/* 일기제목 */
.detail-diary-item .title {
margin-top: 3.5vh;
margin-left: 1vw;

/* width: 80%; */
justify-content: start;


}

/* 일기 날짜 */
.detail-diary-item  .date {
  position: absolute;

  color:grey;

  /* border-bottom: 1px solid grey; */

  justify-content: end;
  width: 20%;
  margin-top: 6vh;
  margin-right: 5vw;
  margin-left:30vw;

}

/* .detail-diary .emotion {
  width: 5vw;
  margin-top: -20vh;
  margin-left: -17vw;
} */


.detail-diary .content {
  border-radius: 3%;
  
  margin-top: 10.7vh;
}

.detail-diary .content-img-wrapper {
  /* border: 1px solid black; */

  position: absolute;
  padding: 10px;

  width: 90%;
  height: 50%;

  /* border: 1px solid black; */

  margin-left: 5%;

  /* object-fit: cover; */
    /* width: "94%",
    height: "50vh",
    border: "1px solid black",
    marginLeft: "3%" */

}

.detail-diary .content-image {
  /* position: absolute; */

  width:100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10%;
  /* style={{width:"80%", height:"100%", objectFit:"cover"}} */
}
 



/* stage area */
.stage-area {
  /* display: none; */
  /* background-color: aqua; */
  /* width: 40vw;
  height: 60vh; */
  /* margin-top: 25vh; */
  /* margin-left: 24vw;  */

  /* margin-top: 800px; */
  position: absolute;
  z-index: 1000;
}

.individual-sticker {
  position: absolute;
  z-index: 1400;
  background-color: bisque;
}


/* 스티커 선택창 */

.sticker-choice-toggle {
  position: absolute;

  width: 8.5vw;
  height: auto;
  font-size: 21px;
  
  color:black;
  margin-top: 84vh;
  margin-left: 15.5vw;


  cursor: pointer;
  /* background-color: #b5a686; */

  z-index: 9000;
}

.sticker-choice-toggle:hover {
  /* background-color: #e3ded3; */

  border-bottom: 3px solid #AC5050;
  cursor: pointer;
}

.sticker-choice-area {
  position: absolute;
  /* display: flex; */

  /* border: 1px solid red; */

  width: 40vw;
  height: 18vh;

  overflow-x:scroll;
  -ms-overflow-x-style: none;
  
  margin-top: 77.5vh;
  margin-left: 24vw;
  
  /* border: 1px solid black; */
  padding: 1%;
  z-index: 1300;


}

.sticker-choice-area::-webkit-scrollbar{
  display:none;
  }


.emotion-date {
  display: flex;
  position: absolute;
  color:black;
  margin-top: 11vh;
  margin-left: 66vw;

  /* border: 1px solid black; */
}

.emotion-date .youtube-date {
  /* margin-top: 12vh; */
  border-bottom: 1px solid black; 
  padding-top: 7px;
  margin-left: 0.3vw;
  margin-top: 3vh;
  font-size: 17px;
}

.emotion-date > img {
  width: 3vw;
  margin-left: 0.7vw;
  /* border: 1px solid black;  */
}

.detail-diary .remake-btn {
  height: 3vh;
  width: 2.5vw;
  color: red;

  cursor: pointer;
 
  margin-top:1vh;
  margin-left: 0vw;
 
  border-radius: 40%;

  z-index: 9000;
  transition: all ease 0.5s;
}

.detail-diary .remake-btn:active {
  /* transform: rotate(360deg); */
}

.detail-diary .remake-btn:hover {
  transform: rotate(360deg);
}

.detail-diary .detail-diary-playlist {
  width: 17vw;
  height: 63vh;
  /* background-color: rgb(104, 123, 130);  */
  position: absolute;
  margin-left: 68vw;
  margin-top:18vh;
  z-index: 2200;
  color: black;

  border-radius: 3%;
  /* border: 1px solid grey; */
  overflow:auto;
  -ms-overflow-style: none;

  font-family: playlist-font;

}

.detail-diary .detail-diary-playlist::-webkit-scrollbar {
  display: none;
}

.detail-diary .heart-wrapper {
  display: flex;
  /* border: 1px solid red; */
  font-size: 15px;
  cursor: pointer;
  z-index: 2100;
}



.detail-diary .heart-wrapper:hover {
  /* background-color: grey; */
}

.detail-diary .music-name-wrapper {
  /* border: 1px solid orange; */
  margin-left: 0.5vw;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.detail-diary .artist-wrapper {
  text-align: left;
  white-space: nowrap; 
  display: block;

  
  width: 13vw;
  height: 3vh;
  color: grey;
  font-size: 12px;
 

  margin-right: 10vw;
  margin-left: 0.5vw;
  /* border: 1px solid red; */
}

.detail-diary .artist-wrapper > div {
  position: absolute;
  justify-content: start;

  margin-left: 1vw;
  /* border: 1px solid red; */
}

.detail-diary .playlist-iframe {
  /* width="560"
  height="315" */
  /* position: absolute; */
  width: 16.5vw;
  height: 16.5vh;
  margin-bottom: 1vh;
  margin-top: 2.5vh;
  /* margin-right: 90%; */
  border-radius: 6%;
}

.detail-diary .delete-sticker-btn {
  /* display: none; */
   color: #AC5050;

}

/* .detail-diary .origin-sticker:hover .delete-sticker-btn {
  display:"";

} */

.detail-diary .origin-sticker {
  cursor: pointer;

}

.pack-name-wrapper {
  display: flex;
  width: 80%;

  margin-top:1vh;
  margin-bottom: -5vh;
  /* style={{width:"100%", marginRight:"28vw", display:"flex", marginBottom:"10vh"}} */
}

.each-pack-wrapper {
  width: 100%;
  /* border: 1px solid black; */
  /* background-color: rgb(217, 235, 217); */
  margin-top: -2vh;

  /* overflow: scroll;
  -ms-overflow-style: none; */
}


.sticker-btn-wrapper {
  /* width: auto; */
  width: 20%;
  height: 85%;
  display: flex;
  color: black;

  /* border: 1px solid black; */
  margin-top:1vh;
  padding-top:1vh;
}

/* 스티커 저장완료 버튼 */
.sticker-save-btn {
  /* position: absolute; */
  justify-content: end;
  font-size: 12px;
  width: 50%;
  /* width: 7%; */
  z-index: 9000;
  margin-right: 0.5vw;
  background-color: rgb(236, 246, 241);
  border-radius: 10%;
  /* padding: 2%; */
  /* margin-right: 2vw; */
  /* border: 1px solid black; */
}



/* 저장된 스티커 삭제 버튼 */
.sticker-edit-btn {
  /* position: absolute; */
  font-size: 12px;
  z-index: 9000;
  width: 50%;
  background-color: rgb(213, 232, 222);
  /* margin-right: 10vw; */
  /* border: 1px solid black; */
}

.sticker-edit-btn:hover {
  background-color: antiquewhite;
}

.sticker-save-btn:hover {
  background-color: antiquewhite;
}


/* 스티커팩 이름 선택버튼 영역*/
.sticker-pack-name {

  width: 6vw;
  justify-content: start;

  margin-right: 1vw;

  color: black;

  cursor: pointer;

  border-bottom: 1px solid grey;

  /* background-color: rgb(205, 182, 182); */
  /* padding-bottom: ; */
  margin-bottom: 8vh;
}

.sticker-pack-name:hover {
  /* font-size: 18px; */
  color: #AC5050;
  border-bottom: 1px solid #AC5050;
}

