.diary-item {
    /* width: 80vw; */
    padding-left: 0vw;
}

.diary-item .diary-item-header {
    display: flex;
} 

.diary-item .diary-item-card {
    width: 16vw;
    height: 20vh;
    float: left;
    margin-left: 2vw;
    margin-top: 3vh; 
    cursor: pointer;
    transition: 0.06s linear;
    overflow:auto;
    -ms-overflow-style: none;
    background-color: rgb(236, 243, 245);
    border: none
}

.diary-item .diary-item-card::-webkit-scrollbar{
    display:none;
  }

.diary-item .diary-item-card:hover {
    background-color: rgb(228, 240, 250);
    transform: scale(102%);
}
 
.diary-item .bookmark-paper {
    position: absolute;
    width: 2vw;
    height: 6vh;
    background-color: #93AAAC;
    margin-left: 17vw;
    margin-top: -2vh;
}

.diary-item .diary-item-title {
    /* margin-left: -1vw; */
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    /* background-color: green; */
    /* width: 13vw; */
    /* height: 4vh; */
}

.diary-item .diary-title {
    display: flex;
    justify-content: start;
    text-overflow:ellipsis;
    /* background-color: green; */
    width: 13vw;
    height: 4vh;
    overflow:hidden;
    white-space:nowrap;
    margin-left: 1vw;
}

.diary-item .diary-item-content {
    /* margin-left: 0vw; */
    text-align:left;
    padding-left: 1vw;
}

.diary-item .diary-item-date {
    margin-left: 9vw;
    font-size: 1.5vh;
    margin-top: -5vh;
    /* background-color: pink; */
    
}