.diary-item {
    /* width: 80vw; */
    padding-left: 0vw;
}

.diary-item .diary-item-header {
    display: flex;
}

.diary-item .diary-item-card {
    width: 18vw;
    height: 20vh;
    float: left;
    margin-left: 2vw;
    margin-top: 3vh; 
    cursor: pointer;
    transition: 0.06s linear;
    overflow:auto;
    -ms-overflow-style: none;
    background-color: rgb(235, 240, 241);
    border: none;
}

.diary-item .diary-item-card::-webkit-scrollbar{
    display:none;
  }

.diary-item .diary-item-card:hover {
    background-color: rgb(228, 240, 250);
    transform: scale(102%);
}

.diary-item .bookmark-paper {
    position: absolute;
    width: 2vw;
    height: 6vh;
    background-color: #93AAAC;
    margin-left: 17vw;
    margin-top: -2vh;
}

.diary-item .diary-item-title {
    margin-left: 2vw;
    text-overflow:ellipsis;
}

.diary-item .diary-item-content {
    /* margin-left: 0vw; */
}

.diary-item .diary-item-date {
    margin-left: 12vw;
    font-size: 1.5vh;
}