.sticker-detail {
    position: relative;
}

.sticker-detail .work-area {
  /* 이건 모든 페이지들이 공용으로 설정할 값 */
  width: 64vw;
  height: 93vh;
  margin-top: 7vh;
  margin-left: 24vw;
  /* background-color: green; */

  position: absolute;
  z-index: 1;
  color: black;
}

.sticker-detail .main-note {
    /* position: absolute; */
}


/* 상단 스티커 정보 영역 */
.sticker-detail .header {
    width: 60vw;
    height: 30vh;
    /* background-color: pink; */
    margin-top: 5vh;
    margin-left: 2vw;
}

.sticker-detail .thumbnail {
    margin-left: -35vw;
    margin-top: 4vh;
    width: 12vw;
}

.sticker-detail .info {
    margin-top: -20vh;
    margin-left: -10vw;
    /* display: flex; */
}

.sticker-detail .goback-button {
    /* position: absolute;
    margin-top: 20vh; */
}

/* 개별 스티커 영역 */
.sticker-detail .sticker-area {
    width: 60vw;
    height: 45vh;
    margin-left: 2vw;
    /* background-color: #e4e4e4; */
    overflow:auto;
-ms-overflow-style: none;
}

.sticker-detail .sticker-area::-webkit-scrollbar{
    display:none;
    }

.sticker-detail .sticker-image {
    width: 100px;
}





/* 구매 버튼 */
@import url(https://fonts.googleapis.com/css?family=Raleway:600);
.snip1272 {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #148f77;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 40px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  line-height: 2.7em;
  font-weight: 600;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.snip1272:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  right: 50%;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.snip1272:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
}
.snip1272:hover:after,
.snip1272.hover:after {
  left: 0;
  right: 0;
}





/* 포인트 충전하기 버튼 */
.snip14 {
  border: none;
  background-color: #5666a5;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  /* margin: 15px 30px; */
  line-height: 30px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
.snip14:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.snip14:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #5666a5;
  content: '';
  border-radius: inherit;
}
.snip14:hover,
.snip14.hover {
  background-color: #5666a5;
  color: #ffffff;
}
.snip14:hover:before,
.snip14.hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 0.25;
}

/* 구매하기 버튼 */
.snip144 {
  border: none;
  background-color: #84c289;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  /* margin: 15px 30px; */
  line-height: 30px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip144:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.snip144:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #84c289;
  content: '';
  border-radius: inherit;
}
.snip144:hover,
.snip144.hover {
  background-color: #84c289;
  color: #ffffff;
}
.snip144:hover:before,
.snip144.hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 0.25;
}

/* 구매완료 띄우기 */
.snip1444 {
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  /* margin: 15px 30px; */
  line-height: 30px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
.snip1444:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.snip1444:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #ffffff;
  content: '';
  border-radius: inherit;
}
.snip1444:hover,
.snip1444.hover {
  background-color: #ffffff;
  color: #2e2e2e;
}
.snip1444:hover:before,
.snip1444.hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 0.25;
}