.sticker-item {
    width: 18vw;
    height: 30vh;
    /* background-color: black; */
    float: left;
    margin-left: 1.5vw;
    margin-top: 6vh;
}

.sticker-item:hover {
    cursor: pointer;
}

.sticker-item .sticker-item-img {
    scale: 120%;
    margin-top: 3vh;
}

.sticker-item .sticker-item-name {
    margin-top: 3vh;
}

.sticker-item .sticker-item-price {
    margin-left: 13vw;
    margin-top: -4.2vh;
}