/* 상단 이모티콘 고르기 */
.diary-editor .select-emotion {
    width: 40vw;
    height: 7vh;
    margin-left: 5vw;
    margin-top: 6vh;
    display: flex;

}

.diary-editor .emoji-img {
    width: 4vw;
    float: left;
    margin-left: 1vw;
    cursor: pointer;
}

.diary-editor .input-date {
    margin-left: 2vw;
    margin-top: 3vh;
    /* background-color: green; */
}

.clicked {
    width: 5vw;
}


/* 왼쪽 */
.diary-editor .left-section {
    width: 45vw;
    height: 65vh;
    /* background-color: pink; */
    margin-top: 7vh;
    position: absolute;
    margin-left: 3vw;
}

.diary-editor .input-date {
    cursor: pointer;
}

.diary-editor .diary-textarea-title {
    box-sizing: border-box;
    /* border: none; */
    width: 40vw;
    height: 5vh;
    border-radius: 5px;
}

.diary-editor .diary-textarea-content {
    box-sizing: border-box;
    /* border: none; */
    width: 40vw;
    height: 50vh;
    border-radius: 5px;
}

/* 오른쪽 */
.diary-editor .right-section {
    width: 20vw;
    height: 60vh;
    position: absolute;
    margin-left: 47vw;
    margin-top: 7vh;
    display: block;
    /* background-color: black; */
}

.diary-editor .submit-button {
    position: absolute;
    margin-top: 70vh;
    margin-left: -3vw;
}

.diary-editor .back-button {
    position: absolute;
    margin-top: 70vh;
    margin-left: -11vw;
}

/* 이미지 업로드 관련 */
.diary-editor .diary-img-wrapper {
    position: absolute;

    /* width: 18vw;
    height: 50vh; */
    
}

.diary-editor .diary-register-img {
   
    width: 15vw;
    height: 40vh;
    
    margin-bottom: 5%;
    border: 1px solid black;
}

.diary-editor .find-file-btn {

}

.diary-editor .find-file-btn:hover {
    background-color: antiquewhite;
}

.diary-editor .diary-register-btn {
    margin-top: 42vh;
    margin-right: 5vw;

}

.diary-editor .diary-register-btn > label {
    margin-right: 6vw;
}