/*  여기서부터  */
.music-recommendation {
    position: relative;
  }
  
.music-recommendation .work-area {
  width: 65vw;
  height: 86vh;
  margin-top: 8vh;
  margin-left: 24vw;
  /* background-color: green; */

  position: absolute;
  z-index: 1;
  color: black;
  }
  
.music-recommendation .main-note {
    /* position: absolute; */
  }

/* 여기까지 모든 페이지들이 공용으로 설정하는 값!!! */



.music-recommendation .playlist {
  width: 59vw;
  height: 55vh;
  /* background-color: green; */
  margin-left: 3vw;
}

.music-recommendation .happy {
  width: 170px;
  height: 170px;
  background-color: rgb(247, 224, 155);
  border-radius: 100%;
  cursor: pointer;
}

.music-recommendation .sad {
  width: 170px;
  height: 170px;
  background-color: rgb(247, 224, 155);
  border-radius: 100%;
  animation-duration: 0.5s;
  cursor: pointer;
}

.music-recommendation .normal {
  width: 170px;
  height: 170px;
  background-color: rgb(247, 224, 155);
  border-radius: 100%;
  animation-duration: 1s;
  cursor: pointer;
}

.music-recommendation .anxious {
  width: 170px;
  height: 170px;
  background-color: rgb(247, 224, 155);
  border-radius: 100%;
  animation-duration: 1.5s;
  cursor: pointer;
}

.music-recommendation .depressed {
  width: 170px;
  height: 170px;
  background-color: rgb(247, 224, 155);
  border-radius: 100%;
  animation-duration: 2s;
  cursor: pointer;
}

.music-recommendation .angry {
  width: 170px;
  height: 170px;
  background-color: rgb(247, 224, 155);
  border-radius: 100%;
  animation-duration: 2.2s;
  cursor: pointer;
}