/*  여기서부터  */
.music-recommendation {
    position: relative;
  }
  
.music-recommendation .recommendation {
    width: 64vw;
    height: 85vh;
    margin-top: 7vh;
    margin-left: 24vw;
    /* 명시적으로 이 초록색 영역안에서 작업하면 된다 표시용 */
    background-color: grey;
  
    position: absolute;
    z-index: 1;
    color: black;
  }

  .music-recommendation .recommendation-title {
    /* margin-right: 30vw; */
  }

  .music-recommendation .recommendation-content {
    
    margin-top: 10vh;
    margin-left: 4vw;

    width:55vw;
    height: 60vh;

    z-index: 10;

    background-color: azure;
  }
  
.music-recommendation .main-note {
    position: absolute;
  }

/* 여기까지 모든 페이지들이 공용으로 설정하는 값!!! */

