/*  여기서부터  */
.my-playlist {
    position: relative;
  }
  
.my-playlist .work-area {
  width: 65vw;
  height: 86vh;
  margin-top: 8vh;
  margin-left: 24vw;
  /* background-color: green; */

  position: absolute;
  z-index: 1;
  color: black;
  }
  
.my-playlist .main-note {
    /* position: absolute; */
  }
 
/* 여기까지 모든 페이지들이 공용으로 설정하는 값!!! */

/* 여기서부터 플레이리스트 css */
.my-playlist .title {
  margin-top: 10vh;
  margin-left: 0vw;
}

.my-playlist .playlist {
  width: 58vw;
  height: 60vh;
  background-color: green;
  margin-left: 3vw;
}