.angry-recommendation {
    position: relative;
  }
  
.angry-recommendation .workarea {
    /* 이건 모든 페이지들이 공용으로 설정할 값 */
    width: 64vw;
    height: 93vh;
    margin-top: 7vh;
    margin-left: 24vw;
    /* background-color: green; */
  
    position: absolute;
    z-index: 1;
    color: black;
  }
  
.angry-recommendation .main-note {
    /* position: absolute; */
  }
  