.edit-myinfo {
  position: relative;
}

.edit-myinfo .main-note {
  position: absolute;
}

.edit-myinfo .myinfo {
  /* 이건 모든 페이지들이 공용으로 설정할 값 */
  width: 64vw;
  height: 90vh;
  margin-top: 7vh;
  margin-left: 24vw;
  /* background-color: green; */
  /* border: 1px solid blue; */
  position: absolute;
  z-index: 1;
  color: black;
}

.edit-myinfo .edit-myinfo-title {
  margin-top: 10vh;
}

.edit-myinfo .myinfo-main {
  /* background-color: black; */
  width: 64vw;
  margin-top: 5vh;
  height: fit-content;
}

.my-container {
  width: fit-content;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/* *****************************************************/

.edit-myinfo .mimicBtn {
  width: 110px;
  font-size: 15px;
  background-color: #b7b7b7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-myinfo .mimicBtn:hover {
  background-color: #8b8b8b;
}

/* 이미지 업로드 관련 */
.edit-myinfo .edit-myinfo-profile {
  width: inherit;
  align-content: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid green; */
}

.edit-myinfo .diary-img-wrapper {
  /* position: absolute; */
  width: fit-content;
  height: fit-content;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.edit-myinfo .diary-register-img {
  width: 8vw;
  height: 8vw;
  border-radius: 48%;
  margin-bottom: 10%;
}

/* 이미지 등록 영역 */
.edit-myinfo .diary-register-btn {
  width: inherit;
  display: flex;
}

.edit-myinfo .find-file-btn {
  width: 5vw;
}

/* *****************************************************/
.edit-myinfo .edit-right-wrapper {
  width: inherit;
  height: fit-content;
  display: table;
  margin-left: 11%;
}

/* 닉네임 수정, 비밀번호 수정 */
.edit-myinfo .edit-nickname-btn-wrapper {
  display: flex;

  /* margin-left: ; */
  width: inherit;
  height: fit-content;
  margin-top: 5vh;

  text-align: center;
  align-items: center;
  font-size: 16px;

  /* border: 1px solid blue; */
}

.edit-myinfo .edit-password-btn-wrapper {
  display: flex;

  /* margin-left: ; */
  width: fit-content;
  height: fit-content;
  margin-top: 4vh;

  /* border: 1px solid blue; */
}

/* 닉네임 input 감싸는 div */
.edit-myinfo .edit-myinfo-nickname {
  width: 20vw;
}

/* 수정폼 */
.edit-myinfo .edit-form-input-nickname {
  padding: 0px 10px;

  border: none;
  border-radius: 3px;
  background-color: #e8e8e8;

  width: 20vw;
  height: 5vh;
}

/* 비밀번호 input 감싸는 div */
.edit-myinfo .edit-myinfo-password {
  width: 20vw;
}

.edit-myinfo .edit-form-input-password {
  padding: 0px 10px;

  border: none;
  border-radius: 3px;
  background-color: #e8e8e8;

  width: 20vw;
  height: 5vh;

  margin-bottom: 2px;
}

.edit-myinfo .edit-btn {
  width: 110px;
  height: 45px;
  font-size: 15px;
  color: black;
  /* border: 1px solid blue; */
  margin-left: 1vw;
  background-color: rgb(189, 226, 189);
}

.edit-myinfo-password + .edit-btn {
  margin-top: calc(5vh + 3px);
}

/* 수정폼 감싸는 부부  */
.edit-myinfo .edit-myinfo-input {
  /* position: absolute; */
  width: 24vw;
}

/* 회원탈퇴 관련 */
.edit-myinfo .quit-btn-wrapper {
  /* style={{marginTop:"62vh", marginLeft:"26vw"}} */
  width: inherit;
  margin-top: 50px;
  height: 5vh;

  display: table;
  margin-left: 90%;
}

.edit-myinfo .quit-btn {
  font-size: 20px;
}
