.bookmark {
    position: relative;

}

.bookmark .diary-list {
  /* 이건 모든 페이지들이 공용으로 설정할 값 */
  width: 64vw;
  height: 85vh;
  margin-top: 7vh;
  margin-left: 24vw;
  /* background-color: green; */

  position: absolute;
  z-index: 1;
  color: black;
  overflow:auto;
  -ms-overflow-style: none;
}

/* 스크롤 기능은 있되 스크롤바 없애기 */
.bookmark .diary-list::-webkit-scrollbar{
  display:none;
}

.bookmark .bookmark-none {
  position: absolute;
  font-size: 33px;

  margin-top: 12vw;
  margin-left: 23vw;
}

.bookmark .bookmark-none-subtitle {
  position: absolute;
  font-size: 22px;

  color: grey;

  margin-top: 10vw;
  margin-left: 24vw; 
}


.bookmark .main-note {
    position: absolute;
}

.bookmark .bookmarks-page-title {
  margin-top: 9vh;
}