.main-month {
    position: relative;
}

.main-month .diary-list {
  /* 이건 모든 페이지들이 공용으로 설정할 값 */
  width: 64vw;
  height: 93vh;
  margin-top: 7vh;
  margin-left: 24vw;

  position: absolute;
  z-index: 1;
  color: black;

  overflow:auto;
  -ms-overflow-style: none;
}

.main-month .diary-list::-webkit-scrollbar{
  display:none;
}

.main-month .main-note {
    position: absolute;
}

.main-month .diary-list-page-title {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
} 

.main-month .diary-list-page-title * {
  margin-left: 2vw;
  margin-right: 2vw;
}

.main-month .time-change-button {
  cursor: pointer;
}