.main-month {
  position: relative;
}

/* 상단 헤더 영역 */
.main-month .fix-top {
position: absolute;
color: black;
margin-top: 6vh;
margin-left: 24vw;
z-index: 1;
}

.main-month .diary-list {
/* 이건 모든 페이지들이 공용으로 설정할 값 */
width: 64vw;
height: 70vh;
margin-top: 24vh;
margin-left: 24vw;

position: absolute;
z-index: 1;
color: black;
/* background-color: green; */

overflow:auto;
-ms-overflow-style: none;
}

.main-month .diary-list::-webkit-scrollbar{
display:none;
}

.main-month .diary-items {
overflow:auto;
-ms-overflow-style: none;
}

.main-month .diary-items::-webkit-scrollbar{
  display:none;
  }

/* 일기 데이터 없을 경우 */
.main-month .diary-items-none {
  position: absolute;
  font-size: 33px;

  margin-top: 12vw;
  margin-left: 21vw;
}

.main-month .diary-items-none-subtitle {
  position: absolute;
  font-size: 22px;

  color: grey;

  margin-top: 14.6vw;
  margin-left: 22.3vw;
}

.main-month .lottie-pencil-writing {
  position: absolute;

  margin-top: 27.7vh;
  margin-left: 27.7vw;

  width: 6.4vw;
}

.main-month .main-note {
  /* position: absolute; */
}

.main-month .diary-list-page-title {
margin-top: 5vh;
display: flex;
/* justify-content: center; */
margin-left: 21vw;
} 

.main-month .diary-list-page-title * {
margin-left: 2vw;
margin-right: 2vw;
}

.main-month .time-change-button {
cursor: pointer;
}

.main-month .write-button {
  margin-top: -10vh;
  margin-left: 7vw;
}


/* 드롭다운 */
.main-month .dropbar-left {
  width: 7.5vw;
  height: 5vh;
  font-size: 17px;
  /* background-color: green; */
  border-radius: 5px;
  /* margin-top: -2vh; */
  margin-left: -19vw;
  position: absolute;
}

.main-month .dropbar-right {
  width: 7.5vw;
  height: 5vh;
  font-size: 17px;
  border-radius: 5px;
  margin-left: -11vw;
  position: absolute;
}

.main-month .dropmenu {
  /* background-color: green; */
  border-radius: 5px;
}

.main-month .dropmenu:hover {
  /* background-color: green; */
  border-radius: 5px;
}




/* 버튼 디자인 */ 
.main-month .button {
  width: 10vw;
  height: 4vh;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 11px;

  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 2vw;
  }

.main-month .button:hover {
  background-color: #87d889;
  box-shadow: 0px 15px 20px rgba(179, 195, 126, 0.4);
  color: #fff;
  transform: translateY(-3px);
} 









