.main-note {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}

.main-note .left-page {
  /* background-color: pink;
  opacity: 50%; */
  width: 13.5vw;
  height: 100vh;
  margin-left: 13vw;
}

.main-note .book-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


/* 프로필 영역 */
.main-note .profile {
  position: absolute;
  top: 15vh;
  margin-left: auto;
  margin-right: auto;
  /* background-color: yellow; */
  /* color: black; */
  font-size: 1vw;
  border-radius: 15px;
  width: 2vw;
} 

.main-note .profile-image {
  width: 100%;
  margin-bottom: 2vh;
  margin-top: 17vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  /* background-color: green; */
}

.main-note .profile-menu {
  position: absolute;
  top: 47vh;
  background-color: yellow;
  color: black;
  z-index: 100000000000000;
  margin-left: -5vw;
  cursor: pointer;
}


/* 우측 상단 북마크 */
.main-note .logout {
  position: absolute;
  width: 7vw;
  height: 5vh;
  background-color: rgb(84, 152, 116);

  margin-top: 3.2vh;
  left: 70vw;
  border-radius: 5px;
  padding-top: 0.8vh;
  cursor: pointer;

  font-size: 20px;
  z-index: 9000;
}

.main-note .my-page {
  width: 10vw;
  height: 4vh;
  position: absolute;
  margin-top: 3vh;
  left: 77vw;

  font-size: 20px;
  z-index: 9000;
}


/* navbar menu */

.main-note .profile-menu {
  position: absolute;
  width: 7vw;

  margin-left: 2vw;
  font-size: 23px;
  /* border:1px solid black; */
}

/* 일기장 / 북마크 / my playlist / 음악추천 */
.main-note .menu-diary {
  position: absolute;
  width: 5vw;
  margin-bottom: 2vh;
  margin-left: 0.5vw;

  font-size: 25px;
}

.main-note .menu-diary:hover{
  
  border-width: 2vw;
  border-bottom: 3px solid #ac5050;
}

.main-note .menu-bookmark {
  position: absolute;
  width: 5vw;

  margin-top:8vh;
  margin-bottom: 2vh;
  margin-left: 0.5vw;

  font-size: 25px;
}

.main-note .menu-bookmark:hover {
  
  border-width: 2vw;
  border-bottom: 3px solid #ac5050;
}

.main-note .menu-playlist {
  position: absolute;
  width: 10vw;

  margin-top:16vh;
  margin-bottom: 2vh;
  margin-left: -2vw;

  font-size: 25px;
}

.main-note .menu-playlist:hover {
  border-width: 2vw;
  border-bottom: 3px solid #ac5050;
}


.main-note .menu-recommend {
  position: absolute;
  width: 7vw;

  margin-top: 24vh;
  margin-bottom: 2vh;
  margin-left: -0.5vw;

  font-size: 25px;
}

.main-note .menu-recommend:hover {
  border-width: 2vw;
  border-bottom: 3px solid #ac5050;
}


/* 메뉴 디자인  */
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800); */
/* .snip1250 {
font-family: 'Raleway', Arial, sans-serif;
text-align: center;
text-transform: uppercase;
font-weight: 500;
}
.snip1250 * {
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;

}
.snip1250 li {
display: inline-block;
list-style: outside none none;
margin: 0 2.2em;
overflow: hidden;
}
.snip1250 a {
padding: 0 0.2em 0 0.5em;
color: rgba(255, 255, 255, 0.5);
position: relative;
display: inline-block;
letter-spacing: 1px;
margin: 0;
text-decoration: none;
color: black;
font-size: 1vw;
}
.snip1250 a:before,
.snip1250 a:after {
position: absolute;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
color: black;

}
.snip1250 a:before {
left: 100%;
display: block;
width: 3px;
height: 100%;
content: "";
background-color: #d9c865;
}
.snip1250 a:after {
padding: 0 0.2em 0 0.5em;
position: absolute;
left: 100%;
top: 0;
content: attr(data-hover);
color: black;
white-space: nowrap;
/* background-color: #d9c865; */
/* }
.snip1250 li:hover a,
.snip1250 .current a {
transform: translateX(-100%);
}

.snip1250 li:selected {
  background-color: #d9c865;
} */
 