.main-calender {
  position: relative;
}

.main-calender .calender {
  /* 이건 모든 페이지들이 공용으로 설정할 값 */
  width: 77vw;
  height: 90vh;
  margin-top: 6vh;
  margin-left: 18vw;
  /* background-color: green; */

  position: absolute;
  z-index: 1;
  color: black;
}

.main-calender .main-note {
  position: absolute;
}

/* 달력 css */
.main-calender .control {
  margin-top: 10vh;
}

.main-calender .control{
  display: flex;
  flex-direction: column;
  font-size: 5vh;
}

.main-calender table{
  width:50vw;
  margin-left: 13vw;
}

.main-calender table tbody{
  display:flex;
  flex-direction: column;
  font-size: 3vh;
}
.main-calender tr{
    display:flex;
    flex-direction: row;
}
.main-calender td{
    display:flex;
    /* border:1px solid gray; */
    width:20%;
    height:8vh;
    justify-content: center;
}
.main-calender td span{
    display: flex;
    align-items: center;
}

/* 날짜 바꾸는 버튼 */
.main-calender .time-change-button {
  border: none;
  background-color: transparent;
  color: black;
}

.main-calender .year-change{
  font-size: 2.5vh;
}

/* 월~ 일 글자 */
.main-calender .days {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  color: black;
}


/* 모아보기 버튼 디자인 */
.snip1241 {
  font-family: 'Raleway', Arial, sans-serif;
  /* text-align: center; */
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  display: flex;
  margin-left: 60vw;
  margin-top: 2vh;
  color: black;
}
.snip1241 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  color: black;

}
.snip1241 li {
  /* display: inline-block; */
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
  color: black;

}
.snip1241 a {
  padding: 0.5em 0.8em;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  text-decoration: none;
}
.snip1241 a:before,
.snip1241 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.snip1241 a:before {
  right: 0;
  top: 0;
  border-right: 3px solid #9b59b6;
  border-top: 3px solid #9b59b6;
  -webkit-transform: translate(-100%, 50%);
  transform: translate(-100%, 50%);
}
.snip1241 a:after {
  left: 0;
  bottom: 0;
  border-left: 3px solid #9b59b6;
  border-bottom: 3px solid #9b59b6;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}
.snip1241 a:hover,
.snip1241 .current a {
  color: black;
}
.snip1241 a:hover:before,
.snip1241 .current a:before,
.snip1241 a:hover:after,
.snip1241 .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}