/*  여기서부터  */
.happy-playlist {
    position: relative;
  }
  
.happy-playlist .work-area {
  width: 64vw;
  height: 93vh;
  margin-top: 18vh;
  margin-left: 23.3vw;
  /* background-color: green; */

  position: absolute;
  z-index: 1;
  color: black;
  }

.happy-playlist .work-area .youtube {
  padding-top: 10.5vh;
  margin-left: 6vw;
}
  
.happy-playlist .main-playlist {
    /* position: absolute; */
  }

/* 여기까지 모든 페이지들이 공용으로 설정하는 값!!! */