/*  여기서부터  */
@font-face {
  font-family:"playlist-font";
  src: url("../../../../public/assets/fonts/SCDream4.otf")
}

.happy-playlist {
  position: relative;
}

.happy-playlist .work-area {
width: 64vw;
height: 93vh;
margin-top: 7vh;
margin-left: 24vw;
/* background-color: green; */
position: absolute;
z-index: 1;
color: black;
}

.happy-playlist .playlist-iframe {
  position: absolute;
  width:32vw;
  height:35vh;
  margin-top: 12.5vh;
  margin-left: -26vw;
  margin-bottom: 20vh;
}

.happy-playlist .detail-diary-playlist {
  width: 17vw;
  height: 57vh;
  position: absolute;
  margin-left: 45vw;
  margin-top: -2.5vh;
  z-index: 2200;
  color: black;
  border-radius: 3%;
  overflow:auto;
  -ms-overflow-style: none;
  font-family: playlist-font;
}

.happy-playlist .detail-diary-playlist::-webkit-scrollbar {
  display: none;
}

.happy-playlist .heart-wrapper {
  display: flex;
  font-size: 15px;
  cursor: pointer;
  z-index: 2100;
}


.happy-playlist .music-name-wrapper {
  /* overflow: hidden; */
  width: 15vw;
  text-align: left;
  white-space: nowrap; 
  display: block;
  margin-left: 0.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1vh;
  margin-top: -0.5vh;
  /* animation: 2s slide-right;
  animation-delay: 2s; */
}

.happy-playlist .artist-wrapper {
  display: block;
  position: relative;
  width: 15vw;
  height: 0.1vh;
  color: grey;
  font-size: 12px;
  margin-right: 10vw;
  margin-left: 0vw;
  margin-top: -0.7vh;
  margin-bottom: 3.5vh;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  /* overflow: hidden;
  animation: 2s slide-right;
  animation-delay: 2s; */
}

/* @keyframes slide-right {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -50px;
  }
} */

.happy-playlist .artist-wrapper > div {
  position: absolute;
  justify-content: start;
  margin-left: 1vw;
}

.happy-playlist .no-video {
  position: absolute;
  margin-left: 9vw;
  margin-top: 27vh;
}

.happy-playlist .no-music {
  position: absolute;
  margin-left: 47.5vw;
  margin-top: 30vh;
}

.ment {
  position: absolute;
  /* marg */
}
/* 여기까지 모든 페이지들이 공용으로 설정하는 값!!! */