 .question-box {
    display: inline;
    background-color: #C1D3C2;
    font-size: 20px;
    border-radius: 10px;
    padding: 2vh 3vw;
    margin-left: 1vw;
  }

  .question-e-box {
    display: inline;
    background-color: #C1D3C2;
    font-size: 20px;
    border-radius: 10px;
    padding: 2vh 1.4vw;
    margin-right: -1vw;
    margin-left: 1vw;
  }

  .question-n-box {
    display: inline;
    background-color: #C1D3C2;
    font-size: 20px;
    border-radius: 10px;
    padding: 2vh 2.4vw;
    margin-left: 2vw;
  }

  .selected-box {
    display: inline;
    background-color: #799C79;
    font-size: 20px;
    border-radius: 10px;
    padding: 2vh 3vw;
    margin-left: 1vw;
  }

  .selected-e-box {
    display: inline;
    background-color: #799C79;
    font-size: 20px;
    border-radius: 10px;
    padding: 2vh 1.4vw;
    margin-right: -1vw;
    margin-left: 1vw;
  }

  .selected-n-box {
    display: inline;
    background-color: #799C79;
    font-size: 20px;
    border-radius: 10px;
    padding: 2vh 2.4vw;
    margin-left: 2vw;
  }


  .first-row {
    display: block;
    padding: 20px;
    margin-top: 5vh;
  }

  .second-row {
    display: block;
    padding: 20px;
  }

.next-button {
  background-color: transparent;
  border: none;
  width: 5vw;
  height: 5vh;
  margin-left: 0vw;
  border-radius: 10px;
  margin-top: 3vh;
  font-size: 1.2vw;
}

.before-button {
  background-color: transparent;
  border: none;
  width: 5vw;
  height: 5vh;
  margin-left: 1.3vw;
  border-radius: 10px;
  margin-top: 3vh;
  font-size: 1.2vw;
}