
.signup-info-wrapper{
  position: relative;
}

.signup-info-wrapper .signup-info {
  position: absolute;

  width: 45vw;
  height: 70vh;
  margin-top: 20vh;
  margin-left: 30vw;

  font-size: 1.1vw;
}

.signup-info-wrapper .signup-info input {
  width: 20vw;
  height: 5vh;

  border-radius: 5px;
  border: 1px solid lightgrey;

  margin-top: -1vh;
}

.signup-info-wrapper .survey-btn {
  position: absolute;

  width: 20vw; 
  height: 5vh;

  border: none;
  margin-left: -7.5vw;
  background-color: #C0D2C1;

  border-radius: 5px;
  font-size: 1.3vw;

  margin-top: 70vh;
}

.signup-info-wrapper .survey-btn:hover {
  background-color: #94a595;
}

.signup-info-wrapper .back-btn {
  position: absolute;

  color: darkgrey;
  margin-left: 68vw;
  margin-top: 83vh;
  cursor: pointer;
}