
.signup-info-wrapper html,
.signup-info-wrapper body {
  height: 100%;
}

body {
  /* background: #fff4d3; */ /* 전체 백그라운드 주황색깔 부분*/
  text-align: center;
  font-family: "alsongdalsong";
  overflow: hidden;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #closedcontainer {
  width: 60%;
  margin: 20px auto;
} */
.v-center {
  display: inline-block;     
  vertical-align: middle;
  height: 100%;
  width: 0;
}
/* #closedcontainer {
  display: inline-block;
  vertical-align: middle;
} */
.signup-info-wrapper .closed-book {
  transform-style: preserve-3d;
/*   transform: rotateX(45deg) rotateY(0deg) rotateZ(-45deg); */
  transition: transform 1s;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 10%;
  margin: auto;
  width: 30em; /* 이거 바꾸면 좌우 이동..*/
  height: 35em; /* 상하 이동*/
}


.signup-info-wrapper .closed-book .paper,
.signup-info-wrapper .closed-book .shadow {
  width: 38em; /* 공책 : 넓이 부분 조절*/
  height: 38em;
  position: absolute;
  top: 0;
  left: 0;
}

/* 덮인 책 : 그림자 부분 */
.signup-info-wrapper .closed-book .shadow {
  background: transparent;
  transform: translateZ(-3em);
  box-shadow: -1em 1em 3px 3px #bebec1;
  z-index: 1;
}

.signup-info-wrapper .closed-book .page {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

/* 책 표지 색깔 */
.signup-info-wrapper .closed-book .first .page {
  background: #FAF3EB;
}

/* 책 표지 왼쪽 반틈 부분
.book .first .page.front:after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ada3a31a; 
}
*/



.signup-info-wrapper .closed-book .intro {
  position: absolute;
  width: 90%;
  width: calc(100% - 3em);
  height: 100%;
  /* height: calc(100% - 3em); */
  border-left: 2em solid #AC5050;
  left: 0;
  top: 1;
  right: 30;
  bottom: 1;
  margin: auto;
}
.signup-info-wrapper .closed-book .intro h2 {
  padding: 0.5em 0.5em;
  font-size: 1em;
  color: black; /* DIARY 글씨 부분 색깔*/
  word-break: break-all;
  text-align: left;
  letter-spacing: 5px;
}
.signup-info-wrapper .closed-book .intro h1 {
  /* 상우하좌*/
  padding: 3em  0.20em 0.5em 1.2em;
  font-size: 3em; /* 알쏭달쏭 부분 글자 크기*/
  color: black; /* 알쏭달쏭 부분 글자 색깔*/
  word-break: break-all;
}


@media (max-width: 700px) {
  .signup-info-wrapper .closed-book {
    left: 50%;
  }
}


/* 직접 추가하는 CSS : SHY */

/* 회원가입폼 : input태그 부분 */
.signup-info-wrapper .signup-form-wrapper input {
  display: block;
  margin-bottom: 1rem;
  margin-left: 40%;

  background-color: #FAF3EB;
  padding-left: 10px;
}

.signup-info-wrapper Button {
  margin-left: 50px;
  margin-top: 5rem;
}

